body{
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App.css */
.App {
  display: flex;
  height: 100vh;
 }
 
 .App div {
  flex: 1;
  overflow: hidden;
 }
 
 .splitView {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
 }
 
 .topPanel {
  grid-column: 1 / 3;
 }
 
 .leftPanel {
  grid-row: 2 / 3;
 }
 
 .rightPanel {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
 }
 
 .bottomPanel {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
 }
 
 .texto-gerado {
  overflow-y: auto;
}